{% extends 'layouts.html' %}
{% load static %}

{% block content %}
    <br>
    <div id="content">
      {% if messages %}
      {% for message in messages %}
        <div class="alert2">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
      {% endif %}
      <br>
    </div>
        <center>
        <h2>ยืนยันลายนิ้วมือ</h2>
        <form action="{% url 'adminAddconfirm' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
                {% for data in result %}
                <input type="hidden" value="{{data.id}}" name="id_user">
                {% endfor %}
                <button type="button" class="btn btn-outline-info" id="on4"onclick="Click()">ครั้งที่ 1</button><br><br>  
                <textarea type="text" class="form-control" id="chh" rows="3"  name="finger1" required=True readonly style="width: 50%;"></textarea><br>
                <br>
                <button type="button" class="btn btn-outline-info" id="on5"onclick="Click2()">ครั้งที่ 2</button><br><br>
                <textarea type="text" class="form-control" id="ch2" rows="3"  name="finger2" required=True readonly style="width: 50%;"></textarea>
                <br>
                <button type="submit" name="submit" class="btn btn-success" value="บันทึกลง Database">ตกลง</button>
                <button type="button" class="btn btn-danger"><a href="/userBoard"><font color=white>ยกเลิก</font></a></button>
                <br>
                -----------------------
        </form>
        </center>
    </div>
  <!--Websocket-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
<script> 
  client = new Paho.MQTT.Client("192.168.1.35", Number(9001), "clientId");
  client2 = new Paho.MQTT.Client("192.168.1.35", Number(9001), "clientId2");
  client.onConnectionLost = onConnectionLost;
  client.onMessageArrived = onMessageArrived;  
  client2.onConnectionLost = onConnectionLost2;
  client2.onMessageArrived = onMessageArrived2;  
  
  client.connect({onSuccess:onConnect});
  client2.connect({onSuccess:onConnect2});
  
  function onConnect() {
    console.log("onConnect");
    client.subscribe("fingerreceive1");
  }

  function onConnect2() {
    console.log("onConnect2");
    client2.subscribe("fingerreceive2");
  }
  
  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost:"+responseObject.errorMessage);
    }
  }
  function onConnectionLost2(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost:"+responseObject.errorMessage);
    }
  }
  
  function onMessageArrived(message) {
    console.log("onMessageArrived:"+message.payloadString);
    document.getElementById("chh").innerHTML = message.payloadString;
  }
  function onMessageArrived2(message) {
    console.log("onMessageArrived:"+message.payloadString);
    document.getElementById("ch2").innerHTML = message.payloadString;
  }
  
</script>
<script language="javascript">

  function Click(){
     message = new Paho.MQTT.Message("Startfinger1");
     message.destinationName = "finger";
     client.send(message);
    }
  
 
  function Click2(){
     message = new Paho.MQTT.Message("Startfinger2");
     message.destinationName = "finger";
     client.send(message);
    }
  
  function Click3(){
    send("Startfinger3");
  }

</script>
{% endblock %}