{% extends 'layouts.html' %}
{% load static %}

{% block content %}
    <br>
    <div id="content">
      {% if messages %}
        {% for message in messages %}
          <div class="alert2">
            <span class="closebtn2" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>{{ message }}</strong>
          </div>
        {% endfor %}
      {% endif %}
      </div>
    <div class="table-responsive">
        <br>
        <h2>แก้ไขบทลงโทษผู้ใช้งาน</h2>
        {% for data in result %}
        <form action="{% url 'punishmentUpdate' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{data.id}}" name="id">
            <div class="col-sm-6">
                <label for="name">กรอกรายละเอียด</label>
                <textarea name="pnm_details" id="pnm_details" rows="4" placeholder="รายละเอียด" maxlength="50" cols="50" required=True>{{ data.pnm_details }}</textarea>
                
            </div>
            <br>
            <div class="col-sm-6">
                <label for="name">จำนวนการทำผิดที่จะลงโทษแบบอัตโนมัต</label>
                <input type="number" id="pnm_wrongdoing" name="pnm_wrongdoing" value={{data.pnm_wrongdoing}} min="0" max="999" required=True> 
            </div>
            <label><font color=red>* หากใส่เป็น 0 จะเป็นตัวเลือกการแบนที่แอดมินเลือกแบนผู้ใช้ด้วยตัวเอง ไม่ใช่การแบนแบบอัตโนมัต</font></label>
            <br>
            <br>
            <div class="col-sm-6">
                <label for="name">จำนวนวันในการแบน</label>
                <input type="number" id="pnm_bandays" name="pnm_bandays" value={{data.pnm_bandays}} min="1" max="999" required=True>
            </div>
            <br>
            <button type="submit" name="submit" class="btn btn-success">ตกลง</button>
            <button type="button" class="btn btn-danger"><a href="/punishmentBoard"><font color=white>ยกเลิก</font></a></button>
            <br>
            -----------------------
        </form>
        {% endfor %}
    </div>
{% endblock %}