{% extends 'userlayouts.html' %}
{% load static %}

{% block content %}
    <br>
    <div id="content">
      {% if messages %}
      {% for message in messages %}
        <div class="alert2">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
      {% endif %}
      <br> 
    </div>
        <center>
        <br>
        <h2>ยืนยันลายนิ้วมือ</h2>
        <label for="name">ห้องที่คุณเลือกอยู่ขณะนี้</label>
        {% for data in roomdata %}
          {{data.rom_name}}
        {% endfor %}
        <br><br>
        <form action="{% url 'userconfirmRoomSelected2' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
                <textarea readonly type="text" name="ip_client" value="{{test_ip}}" class="form-control" >{{test_ip}}</textarea><br><br>
                <input type="text" class="form-control" name="room_id" value="{{room_id}}" readonly><br>
                <button type="submit" name="btn_click1" class="btn btn-outline-primary" id="on4" >ครั้งที่ 1</button><br><br>  
                <textarea readonly type="text" class="form-control" id="ch1" rows="3"  name="finger1" required=True style="width: 50%;" >{{finger1}}</textarea><br>
                <br>
                <button type="submit" name="submit" class="btn btn-success" onclick="Save_datafinger()" value="บันทึกลง Database">ตกลง</button>
                <button type="button" class="btn btn-danger"><a href="/userindex"><font color=white>ยกเลิก</font></a></button>
                <br>
                -----------------------
        </form>
        </center>
    </div>
 
{% endblock %}
