{% extends 'userlayouts.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <br>
    <div id="content">
      {% if messages %}
        {% for message in messages %}
          <div class="alert2">
            <span class="closebtn2" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>{{ message }}</strong>
          </div>
        {% endfor %}
      {% endif %}
      </div>
      <br>
    <div class="table-responsive">
        <h2>จองห้อง</h2>
        <br>
        <form data-courses-url="{% url 'ajax_load_courses' %}" action="{% url 'userReservationAdd' %}" method="post"  id="indexForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-sm-6">
              <label for="name">ห้องที่ต้องการจอง</label>
              <select class="form-control" name="rev_roomid" id="programming" required=True>
                  <option disabled selected="true">---เลือกห้อง---</option>
                  {% for room in allrooms %}
                          <option value="{{room.id}}">{{room.rom_name}}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-sm-6">
              <label for="name">เลือกรอบที่ให้จอง</label>
              <select class="form-control" name="rev_num" id="courses" required=True>
                <option disabled selected="true">---เลือกรอบการจอง---</option>
              </select>
            </div>
            <div class="col-sm-6">
                <label for="name">วันที่</label>
                <input type="date" class="form-control" name="rev_date" required=True>
            </div>
            <br>

            <h4>เพิ่มคนอื่นที่ต้องการจะใช้ห้อง</h4>
         <section>
             <div class="panel panel-footer" >

                 <table class="table table-bordered" bgcolor="white">
                     <thead>
                     <tr>
                            <th><label for="name">เลือกผู้ใช้</label></th>
                            <th><button type="button" class="btn btn-success addRow"><i class="glyphicon glyphicon-plus">เพิ่ม</i></button></th>
                         </tr>
                     </thead>
                     <tbody>
                      <tr>
                            <!-- <td>
                              <div class="col-sm-6">
                                <select class="form-control" id="user" name="user[]">
                                    {% for user in allusers %}
                                            <option value="{{user.user_username}}">{{user.user_fname}} {{user.user_lname}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                            </td>         
                            <td><button type="button" class="btn btn-danger remove"><i class="glyphicon glyphicon-remove">Delete</i></button></td> -->
                      </tr>
                    </tr>
                     </tbody>
                 </table>
             </div>
         </section>

            <button type="submit" name="submit" class="btn btn-success">ตกลง</button>
            <button type="button" class="btn btn-danger"><a href="/userindex"><font color=white>ยกเลิก</font></a></button>
            <br>
            -----------------------
        </form>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#programming").change(function () {
      var url = $("#indexForm").attr("data-courses-url");  // get the url of the `load_courses` view
      var programmingId = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'rev_roomid': programmingId       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#courses").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>
        <script>
          $j('.addRow').on('click',function(){
              addRow();
          });
          function addRow()
          {
              var tr='<tr>'+
              '<td><div class="col-sm-6"><select class="form-control" id="user" name="user[]">{% for user in allusers %}<option value="{{user.user_username}}">{{user.user_fname}} {{user.user_lname}}</option>{% endfor %}</select></div></td>'+
              '<td><button type="button" class="btn btn-danger remove"><i class="glyphicon glyphicon-remove">Delete</i></button></td>'+
              '</tr>';
              $('tbody').append(tr);
          };
          $j('.remove').live('click',function(){
              var l=$('tbody tr').length;
              if(l==0)
              {
      
              }
              else
              {
                  $(this).parent().parent().remove();
              }
          });
          </script>
    </div>
{% endblock %}